#page {
    width: 1000px;
    margin: 0 auto;
    background-color: silver;
    overflow: hidden;
}

#menu {
    float: left;
    max-width: 10em;
    margin-right: 1em;
}
#main {
    margin-left: 11em;
    margin-right: 11em;
}
#sidebar {
    float: right;
    width: 10em;
    margin-bottom: 1em;    
}

footer {
    clear: both;
    margin-top: 1em;
}